body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura del viewport */
    background-image: url('/icons/pexels-sharon-snider-5142463.jpg'); /* Imagen de fondo */
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Para centrar la imagen */

    margin: 10px; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */

}

.contenedor2 {
    border: 2px solid #173985be; /* Borde sólido de 2px, color gris oscuro */
    padding: 20px; /* Espaciado interno */
    background-color: hsl(108, 28%, 79%); /* Color de fondo del contenedor */
    max-width: 400px; /* Ancho máximo del contenedor */
    width: 90%; /* Anchura del contenedor */
    text-align: center; /* Alinea el contenido al centro */
    border-radius: 10px; /* Radio de borde */

    box-shadow: inset 5px 5px 10px rgba(15, 76, 207, 0.5),
    inset -5px -5px 10px rgba(15, 76, 207, 0.5),
    inset 5px -5px 10px rgba(15, 76, 207, 0.5),
    inset -5px 5px 10px rgba(15, 76, 207, 0.5);
}

.contenedor2 button{
    border: none;
    background: none;
}

#logo{
    width: 70%;
}

label{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
}

